.kpi-card{
    width: 100%;
    height: 100%;
    background-color: #3C4045 ;
    color: #FFFFFF;
    border-radius: 5%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.titulo{
    font-weight: 500;
}

.kpi-card mat-card-title {
    font-size: 17px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    
}

.kpi-contenido{
    position: relative;
    width: 100%;
    height:80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.kpi-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    

}

.kpi-value-overlay {
    position: absolute; /* ¡CLAVE! Posiciona este div sobre el canvas */
    top: 50%; /* Centra verticalmente respecto al padre (.kpi-contenido) */
    left: 50%; /* Centra horizontalmente respecto al padre (.kpi-contenido) */
    transform: translate(-50%, -50%); /* Ajusta para centrar el elemento mismo */
    
    display: flex; /* Usamos flexbox para centrar el texto dentro de este div */
    justify-content: center;
    align-items: center;
    width: 100%; /* Para que ocupe todo el ancho del contenedor relativo */
    height: 100%; /* Para que ocupe todo el alto del contenedor relativo */
    pointer-events: none; /* Permite clics "a través" del texto al canvas si es necesario */
}

.porcentage {
    color: #21b5daff;
    font-size: 25px;
    margin-top: 10px;
}

.porcentage-green {
    color: #17B37B;
    font-size: 25px;
    margin-top: 10px;
}

.numericos{
    margin-top: 0px;
    font-size: 15px;
}

.numericos-green {
    color: #17B37B;
    margin-top: 0px;
    font-size: 15px;
}