<mat-card class="card">
    <mat-card-content class="pilot-card-header-content">
        
        <div class="pilot-image-container">   
            <img class="image-profile" mat-card-image src="assets/images/perfil2.JPG"/>
        </div>
        
        <div class="caja-titulo-piloto">
            <div class="pilot-profile">
                <h2 class="tituloPiloto">Piloto de drone</h2>
            </div>   
            <div class="caja-datos-tecnicos">
                <div class="profile-izq">
                    <div class="caja-detalle" *ngFor="let indice of pares1; let i = index"> 
                        <h5>{{indice.clave}}:</h5>
                        <p class="dato-detalle">{{indice.valor}}</p>
                    </div>
                </div>

                <div class="profile-der">
                        
                    <div class="caja-detalle" *ngFor="let elemento of pares2; let i = index">
                        <h5>{{elemento.clave}}:</h5>
                        <p class="dato-detalle" *ngIf="i != 3"> {{elemento.valor}}</p>
                        <ul class="lista-item" *ngIf="i == 3">
                            <li class="item" *ngFor="let item of elemento.valor">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
    </mat-card-content>
</mat-card>
