
<main class="main">
  <div class="content">
    <div class="contanier">
      <h1 class="titulogeneral"> 
          Campaña de inspecciones eólicas 2025
      </h1>

      <div class="personalData">
        
        <div class="profile-card">
          <app-pilot-drone-profile></app-pilot-drone-profile>
        </div>

        <div class="kpi-total-pilotado">
          <app-kpi-porcentaje-card 
            *ngIf="stateDataLoad"
            [title]="'Aerogeneradores inspeccionados'"
            [valueActual]="totalCountWTGPiloted"
            [max]="totalCountWTGInspections"
            [unit]="'%'"
            [num1]= "totalCountWTGPiloted"
            [num2]="totalCountWTGInspections"
            ></app-kpi-porcentaje-card>
        </div>
      </div>
      <div class="kpis-level2">
        <div class="kpis-level2-1">
          <app-kpi-extra-month
          [titulo]="'Generación extra'"
          [month]="month"
          [total_calculo_porcentage]="1430"
          [dato]="datoGeneracionExtra"
          [modalidad]="1"></app-kpi-extra-month>
        </div>

        <div class="kpis-level2-1">
          <app-kpi-extra-month
          [titulo]="'Generación total'"
          [month]="month"
          [total_calculo_porcentage]="1430"
          [dato]="datoGeneracionExtra"
          [modalidad]="2"></app-kpi-extra-month>
        </div>

        <div class="kpis-level2-1">
          <app-kpi-extra-month
          [titulo]="'Aerogeneradores '"
          [dato]="total_aagg_month"
          [total_calculo_porcentage]="totalCountWTGInspections"
          [modalidad]="3"></app-kpi-extra-month>
        </div>
      </div>
      <div class="kpi-grafico"> <!-- TODO CAMBIAR ESTILOS SI ES NECESARIO-->
        <div class="kpi-grafico-1">
          <app-kpi-aagg-done-month
          [estilo]="1"
          [title]="'Aerogeneradores inspeccionados por mes'"
          [etiqueta]="' AAGG'"
          *ngIf="semaforoVerde == true" 
          [modalidad]="1"
          [ejeX]="monthsToKPIGraphic"
          [ejeY]="aaggToKPIGraphic"
          [minValue]="0"
          [maxValue]="70"
          [stepSize]="10"
          ></app-kpi-aagg-done-month>
        </div>
        
        <div class="kpi-grafico-1">
          <app-kpi-aagg-done-month
          [estilo]="1"
          [title]="'Generación extra por mes'"
          [etiqueta]="' €'"
          *ngIf="semaforoVerde == true" 
          [modalidad]="2"
          [ejeX]="monthsToKPIGraphic"
          [ejeY]="totalFacturacionAaggs"
          [ejeYplusY]="totalNighPlusAvailability"
          [minValue]="0"
          [maxValue]="1800"
          [stepSize]="200"></app-kpi-aagg-done-month>
        </div>

      </div>
      <div class="kpis-level1"> 
        <div class="kpis-level1-partes">
          <app-table-card 
          [title]="'Parques eólicos'"
          [almacenDatosWindFarm]="windFarms"
          [mostrar]="true"
          [opcion]="1"
          [ariaModal]="3"></app-table-card>
        </div>

        <div class="kpis-level1-partes2">
          <app-table-card
            [title]="'Ranking top ganancias por día'"
            [almacenDatosInspecciones]="inspections"
            [almacenDatosWindFarm]="windFarms"
            [opcion]="2">
          </app-table-card>
        </div>
      </div>
      <div class="kpis-siguienteNivel">
        <div class="kpi-item">
          <app-kpi-aagg-done-month
          [estilo]="2"
          [modalidad]="3"
          [title]="'Salarios'"
          [etiqueta]="' €'"
          [minValue]="1250"
          [maxValue]="2750"
          [stepSize]="250"></app-kpi-aagg-done-month>
        </div>
      </div>

      

    </div>
  </div> 
</main>
