
<mat-card class="table-card">
    <mat-card-header class="cajaTitulo">
        <div class="box-titulo-boton">
            <div class="box-titulo-boton-izq">
                <mat-card-title class="titulo-table"> {{title}}</mat-card-title>
            </div>
            <div *ngIf="mostrar == true" class="box-titulo-boton-der">
                <button  class="button-plus" mat-fab color="primary" (click)="openDialog()"> 
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div *ngIf="opcion == 3" class="box-titulo-boton-der-tecnhinal-data">
                <button mat-raised-button  class="button-nuevo-registro-tecnhinal-data" color="primary" (click)="openDialogNewRegister()"> 
                    Nuevo registro
                </button>

            </div>
        </div>
        
    </mat-card-header>

    <mat-card-content>
        <table *ngIf="opcion == 1"> 
            <thead class="thead-table">
                <tr class="tr-encabezado">
                   <td style="color: #3C4045 ;">ww</td>
                </tr>
            </thead>

            <tbody class="body-table">
                <tr class="tr-table"  *ngFor="let item of almacenDatosWindFarm; let i = index">
                    <td class="col-num">{{i + 1}}</td>
                    <td class="col-name-pe" (click)="viewDetailWindFarm(item.id)">{{item.name}}</td>
                    <td class="col-porcentage">
                        <button class="button-delete" mat-fab color="primary" (click)="openDialogToDelete(item.id, item.name)"> 
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>  
            </tbody>
        </table>

        <table *ngIf="opcion == 2">
            <thead class="thead-table">
                <tr class="tr-encabezado">
                    <th class="td-ranking">AAGG</th>
                    <th class="td-ranking">Extra</th>
                    <th class="td-ranking">Total</th>
                    <th class="td-ranking">Fecha</th>
                    <th class="td-ranking">Parque Eólico</th>
                </tr>
 
            </thead>

            <tbody class="body-table">
                
                <tr class="tr-table2" *ngFor="let item of almacenDatosInspecciones | slice:0:7; let i = index"  >
                    <td class="col-num">{{i+1}}</td>
                    <td class="col-name">{{item.number_wind_turbines_generators}}</td>
                    <td class="col-name">{{item.net_total_income | number:'1.0-0'}} €</td>
                    <td class="col-name">{{item.net_total_income + 65 | number:'1.0-0'}} €</td>
                    <td class="col-name">{{item.date}}</td>
                    <td class="col-name">{{getWindFarm(item.wind_farm_id)}}</td>
                </tr>
            </tbody>
        </table>

        <table *ngIf="opcion == 3">
            <thead class="thead-table">
                <tr class="tr-encabezado-tecnhical-data">
                    <th class="td-ranking-tecnhical-data">AAGG</th>
                    <th class="td-ranking-tecnhical-data">Pilotados</th>
                    <th class="td-ranking-tecnhical-data">Compañero</th>
                    <th class="td-ranking-tecnhical-data">Extra neto</th>
                    <th class="td-ranking-tecnhical-data">Total generado</th>
                    <th class="td-ranking-tecnhical-data">Fecha</th>
                    
                </tr>
            </thead>

            <tbody class="body-table">
                <!-- TODO Obtener datos inspección por petición Id y guardar en arrayInspeccionporID -->
                <tr class="tr-table3" *ngFor="let item of almacenDatosInspeccionesById; let i = index"> 
                    <td class="col-num">{{i+1}}</td>
                    <td class="col-name3">{{item.number_wind_turbines_generators}}</td>
                    <td class="col-name3">{{item.piloted_by_me}}</td>
                    <td class="col-name3">{{item.team_mate}}</td>
                    <td class="col-name3">{{item.net_total_income | number:'1.0-0'}} €</td>
                    <td class="col-name3">{{item.net_total_income + 65 | number:'1.0-0'}} €</td>
                    <td class="col-name3">{{item.date}}</td>
                    <td>eliminar</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>