body {
    
}

.contanier {
    max-width: 100%;
    
    padding: 2%;
    background-color: #171924 ;

    display: grid;
    grid-auto-flow: row ;
    grid-template-rows: 1fr; 


}

.personalData {
    
    margin: 0;
    padding: 1% ;
    justify-self: stretch;
}

.kpis {
    
    margin: 0%;
    padding: 1%;
}

h1 {
    text-align: center;
    color: #F5F5F5 ;
    
}

p{
    color: #F5F5F5 ;
}

th{
    color: #F5F5F5 ;
    
}

tr{
    color: #F5F5F5 ;
    
}