
<main class="main">
  <div class="content">
    <div class="contanier">
      <div class="personalData">
        <h1 style="color: white;"> 
          Campaña de inspecciones eólicas 2025
        </h1>
        <mat-card class="card">
          <mat-card-header class="pilot-card-header-content">
            <div class="pilot-image-container">
              
              <img class="image-profile" mat-card-image src="assets/images/fotoPerfilPiloto.jpg"/>

            </div>
            <div class="pilot-profile">
               <h2>Piloto de drone</h2>
               <h3>Óscar Izquierdo Sanchón</h3>
              <div class="caja-datos-tecnicos">
                  
                <div class="profile-izq">
                  <div class="caja-detalle">
                    <h4>Edad:</h4>
                    <p>26 </p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Fecha de nacimiento:</h4>
                    <p>10/05/1999</p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Empresa:</h4>
                    <p> Arborea Intellbird S.L</p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Provincia:</h4>
                    <p> Salamanca</p>
                  </div>

                  

                  <div class="caja-detalle">
                    <h4>Fecha de incorporación:</h4>
                    <p> 12/09/2022</p>
                  </div>

                </div>

                <div class="profile-der">
                  
                  <div class="caja-detalle">
                    <h4>Especialización:</h4>
                    <p> Revisiones industriales</p>
                  </div>
                  <div class="caja-detalle">
                    <h4>Licencia:</h4>
                    <p> A1/A3</p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Categoria:</h4>
                    <p> Abierta</p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Número de registro:</h4>
                    <p> ESPygw248p5hf6zp</p>
                  </div>

                  <div class="caja-detalle">
                    <h4>Aeronaves:</h4>
                    <p> TFG-08 y TFG-09</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="kpi-total-pilotado">
              <app-kpi-porcentaje-card
               [title]="'Aaerogeneradores inspeccionados'"
               [valueActual]="70"
               [max]="90"
               [unit]="'%'"
              ></app-kpi-porcentaje-card>
            </div>
          </mat-card-header>


        </mat-card>
      </div>
      <div class="kpis"> 
        <p>
          En esta sección se mostrarán los diferentes KPIs de los datos de las inspecciones 
        y una tabla en donde se podrá seleccionar los parques eólicos y acceder a la información especifíca.
        </p>
        <button class="botonPrueba" (click)="loadInspection()" [disabled]="loading" class="load-button">
          {{ loading ? 'Cargando datos...' : 'Cargar todas las Inspecciones'}}
        </button>
        

        
        <div *ngIf="error" class="error-message">
          <p>Error:</p>
          <p>{{error}}</p>
        </div>

          
      </div>
      <div class="tablaInspecciones">
        <p>* Recordatorio: Esta tabla solo es un ejemplo</p>
        <table>
          <thead>
            <th> ID</th>
            <th> Parque eólico</th>

          </thead>
          <tbody>
            <tr *ngFor="let indice of inspections">
              <!-- *ngIf="indice.wind_farm !== null && indice.wind_farm !== undefined"-->
              <th> {{indice.id}}</th>
              <th> {{indice.gross_total_income}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      

    </div>
  </div> 
</main>


<router-outlet />
