    .chart-card {
      max-width: 900px;
      margin: 2rem auto;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       background-color: #3C4045 ;
      
    }
    .chart-container {
      position: relative;
      height: 400px;
      width: 100%;
    }
    .bar-chart-canvas {
      width: 100% !important;
      height: 100% !important;
    }
    mat-card-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: #FFFFFF;
    }