.table-card{
    background-color: #3C4045 ;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.titulo-table {
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}

.table-card mat-card-title {
    font-size: 17px;
    
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

.cajaTitulo {
    width: 92%;
   display: flex;
   justify-content: center;
   align-content: center;
}

.cajaInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dataStyle {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra {
    
    width: 100%;
    color: rgb(26, 250, 26);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 2%;
}

.extra-aagg {
    width: 100%;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 2%;
}

.porcentage-aagg{
    margin-top: 0;
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 300;

}

.porcentage{
    margin-top: 0;

    font-size: 2em;
    font-weight: 300;
    color: rgb(26, 250, 26);
}

.porcentage-invisible{
    margin-top: 0;

    font-size: 2em;
    font-weight: 300;
    color: #3C4045;
}

.data-aagg {
    
    width: 100%;
    color: rgb(223, 223, 223);
    font-size: 3em;
    font-weight: 600;
    border: 1px solid black;
}

.sueldo{
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.dataPorcentage {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}