
<mat-card class="table-card">
    <mat-card-header class="cajaTitulo">
        <div class="box-titulo-boton">
            <div class="box-titulo">
                <mat-card-title class="titulo-table"> {{titulo}}</mat-card-title>
            </div>
        </div>
        
    </mat-card-header>

    <mat-card-content>
        <div class="cajaInfo" >
            <div class="dataStyle"  *ngIf="modalidad == 1">
                <div>
                    <p class="extra">{{dato}}€</p>
                </div>
                <div>
                    <p class="porcentage">+{{porcentage | number:'1.0-0'}}%</p>
                </div>
                
                
            </div>
        </div>
    </mat-card-content>

    <mat-card-content>
        <div class="cajaInfo">
            <div class="dataStyle" *ngIf="modalidad == 2">
                <div>
                    <p class="extra">{{dato + 1430}}€</p>
                </div>
                <div>
                    <p class="porcentage">+{{porcentage | number:'1.0-0'}}%</p>
                </div>
                
                
            </div>
        </div>
    </mat-card-content>

    <mat-card-content >
        <div class="cajaInfo">
            <div class="dataStyle" *ngIf="modalidad == 3">
                <div>
                    <p class="data-aagg">0</p>
                </div>  
                <div>
                    <p class="">{{porcentage | number:'1.0-0'}}%</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>